.about-us{
    height: 585px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    column-gap: 30px;
}
.about-us-text{
    height: 300px;
    width: 555px;
    font-family: 'Poppins', sans-serif;
}
.about-us-text h1{
    color:rgb(249, 97, 42);
    font-size: 40px;
}
.about-us-text p{
    color:rgb(38, 36, 36);
    margin-bottom: 33px;
}
.about-us-img{
    height: 540px;
    width: 540px;
    background-image: url("../images/about-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}